.article {
  width: 100%;
  /* border-bottom: 1px solid #e5e5e5; */
}

.articleHeader {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: baseline;
}

.articleHeaderTitle {
  text-decoration: none;
  border-bottom: 2px solid transparent;
}

.articleHeaderMeta {
  display: flex;
  flex-flow: row nowrap;
  color: #aaa;
}

.articleHeaderDate {
  margin-left: 1rem;
}

.articleBody {
  margin: 1rem 0 2.5rem 0;
}

.article-body,
.article-summary {
  margin: 1rem 0;
}
